/* Selector de IDs*/

#encabezado {
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: cadetblue;
}

#menu {
    top: 10%;
    left: 0;
    height: 5%;
    width: 100%;
    position: fixed;
    text-align: right;
    background-color: coral;
}

#barraLateral {
    top: 15%;
    left: 0;
    height: 75%;
    width: 20%;
    position: fixed;
    background-color: darkgreen;
}

#contenido {
    top: 15%;
    left: 20%;
    height: 75%;
    width: 80%;
    position: fixed;
    background-color: dimgray;
}

#piePagina {
    bottom: 0%;
    left: 0%;
    height: 10%;
    width: 100%;
    position: fixed;
    background-color: cyan;
}

.parrafoRojo {
    color: red;
}

.parrafoBlanco {
    color: white;
}

.parrafoCentrado {
    text-align: center;
}

/*p {
    font-size: 20px;
}*/

/*p, h1, h2 {
    font-size: 50px;
}*/

div.parrafoBlanco p {
    font-size: 25px;
}

body {
    background-color: gray;
}

a:visited {
    font-size: 30px;
}

a:hover {
    background-color: green;
    color: white;
    transition: 1s;
}

a:active {
    background-color: purple;
    color: white;
}
